<div>
    <mat-form-field>
        <input matInput matInput type="number" [(ngModel)]="orderNo" placeholder="Номер стола">
    </mat-form-field>
<!--     <button mat-mini-fab color="accent" (click)="orderNo=orderNo+1">
        <i class="material-icons">exposure_plus_1</i>
    </button>
    <button mat-mini-fab color="accent" (click)="orderNo=orderNo-1" *ngIf="orderNo>1">
        <i class="material-icons">exposure_neg_1</i>
    </button> -->
</div>
<div>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="orderGuests" 
        placeholder="Гостей" min="1" step="1">
    </mat-form-field>
<!--     <button mat-mini-fab color="accent" (click)="orderGuests=orderGuests+1">
        <i class="material-icons">exposure_plus_1</i>
    </button>
    <button mat-mini-fab color="accent" (click)="orderGuests=orderGuests-1" *ngIf="orderGuests>1">
        <i class="material-icons">exposure_neg_1</i>
    </button> -->
</div>
<mat-form-field>
    <input matInput [ngModel]="orderDate | date:'dd/MM/yy h:mm a'" placeholder="Дата / время стола" 
    [disabled]="true">
</mat-form-field>
<!-- <mat-form-field style="text-align: right;">
    <input matInput type="number" [(ngModel)]="orderDiscount" placeholder="Дисконт">
</mat-form-field> -->
<!-- <mat-form-field style="text-align: right;">
    <input matInput type="number" [(ngModel)]="orderSumService" placeholder="Сумма за обслуживание">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="place" placeholder="Место">
</mat-form-field> -->
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="waiter" placeholder="Официант" [disabled]="true">
</mat-form-field>
<!-- <mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="printed" placeholder="Кассир">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="orderPrintTime" placeholder="Время печати">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="orderCheck" placeholder="Номер чека">
</mat-form-field> -->
<div>
    <button mat-mini-fab color="warn" (click)="onSave()">
        <i class="material-icons">save</i>
    </button>
</div>
