<mat-form-field>
    <input matInput [(ngModel)]="orderNo" placeholder="Номер стола">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="orderDate" placeholder="Дата / время стола">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput type="number" [(ngModel)]="orderDiscount" placeholder="Дисконт">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput type="number" [(ngModel)]="orderGuests" placeholder="Гостей">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput type="number" [(ngModel)]="orderSumService" placeholder="Сумма за обслуживание">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="place" placeholder="Место">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="waiter" placeholder="Официант">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="printed" placeholder="Кассир">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="orderPrintTime" placeholder="Время печати">
</mat-form-field>
<mat-form-field style="text-align: right;">
    <input matInput [(ngModel)]="orderCheck" placeholder="Номер чека">
</mat-form-field>
<div>
    <button mat-mini-fab color="warn" (click)="onSave()">
        <i class="material-icons">save</i>
    </button>
</div>
