div.almondo {
    font-family: Calibri Light; 
    font-size: 14px; font-style: normal; 
    line-height: 0.4;
}

pre {
    margin: 0em 0px;
    font-size: 28px;
    font-family: Calibri Light;
    line-height: 0.8;
}

.header2 {
    float: left;
    text-align: left;
}

.queenheader {
    font-family: 'Arial Narrow'; 
    font-size: 10px; font-style: normal; 
    line-height: 0.4;
}

.imagequeen {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 85%;
    width: 85%;
}

.queencheckeader {
    font-family: Calibri Light; 
    font-size: 12px; font-style: normal; 
}

tbody:before {line-height:1px; content:"\200C"; display:block;}