<div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>

  <hr>

  <!-- <a class="button is-dark" routerLink="/work">
    Work Page
  </a> -->

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleLogin()" class="button btn-social btn-google">
    <i class="fa fa-google"></i> Connect Google
  </button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <h3>Hello, {{ user.userName }}</h3>
    <img  src="{{user.photoURL}}" width="50px">
    <p>email: {{ user.email }}</p>
    <p>Должность: {{ user.roleRUS }}</p>
    <div>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="user.userName" placeholder="Фамилия и имя">
      </mat-form-field>
    </div>
    <button mat-mini-fab color="primary" (click)="onSave(user.userName, user.uid)">
      <i class="material-icons">save</i>
    </button>
  </div>
  <p> ver. {{ version }}</p>
</ng-template>

